<div class="container mx-auto px-4 py-8">
  <%= link_to 'Back to child', user_child_path(@user, @child), class: 'bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded' %>

  <h1 class="text-3xl font-bold my-6">Edit Child</h1>
  
  <%= render 'form', user: @user, child: @child %>
</div>
