<div class="container mx-auto">
  <h1 class="text-3xl font-bold mb-6 text-primary-600 dark:text-primary-dark-600">Children</h1>
  
  <%= link_to 'Add New Child', new_user_child_path(@user), class: 'bg-primary-500 hover:bg-primary-600 text-white font-bold py-2 px-4 rounded mb-4 inline-block' %>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <% @children.each do |child| %>
      <%= render "children/child_card", child: child %>
    <% end %>
  </div>
</div>
