<div id="<%= dom_id program %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= program.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Recommended Grade:</strong>
    <%= program.recommended_grade %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= program.description %>
  </p>

</div>
