<div class="bg-white dark:bg-slate-800 rounded-lg shadow-md hover:shadow-lg transition duration-150 ease-in-out p-6">
  <div class="flex justify-between items-start mb-2">
    <h3 class="font-semibold text-xl">
      <%= link_to program.name, program_path(program), class: "text-blue-600 hover:text-blue-800" %>
    </h3>
    <% if program.recommended_grade %>
      <span class="inline-block bg-blue-100 text-blue-800 text-xs font-semibold px-2.5 py-0.5 rounded-full">
        Grade <%= program.recommended_grade %>
      </span>
    <% end %>
  </div>
  <p class="text-gray-600 dark:text-slate-400 mb-4">
    <%= truncate(program.description, length: 100, separator: ' ', omission: '...') %>
  </p>
  <p class="text-sm text-gray-500">
    <%= pluralize(program.program_items.count, 'work') %>
  </p>
</div>
