<div class="container mx-auto">
  <% content_for :title, "Programs" %>

  <div class="flex justify-between items-center mb-8">
    <h1 class="font-bold text-4xl text-primary-600 dark:text-primary-dark-600">Programs</h1>
    <%= link_to "New program", new_program_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium hover:bg-blue-700 transition duration-150 ease-in-out" %>
  </div>

  <div id="programs" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    <% @programs.each do |program| %>
      <%= render 'programs/program_card', program: program %>
    <% end %>
  </div>
</div>

