<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl text-primary-600 dark:text-primary-dark-600">Editing reading entry</h1>

  <%= render "form", reading_entry: @reading_entry %>
</div>
