<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <%= render @reading_entry %>

    <%= link_to "Edit this reading entry", edit_reading_entry_path(@reading_entry), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Back to reading entries", reading_entries_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this reading entry", @reading_entry, method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
  </div>
</div>
