<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <%= render @literary_work %>

    <%= link_to "Edit this literary work", edit_literary_work_path(@literary_work), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Back to literary works", literary_works_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this literary work", @literary_work, method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
  </div>
</div>
